@import "variables";

.counter {
  .counter-card {
    width: 100%;
    height: 150px;
    border: 3px solid $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    &-title {
      padding: 10px 0;
      font-weight: 700;
      color: $primary;
    }

    &-number {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      font-weight: 900;
      line-height: 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  // iPad landscape
  .counter {
    &-card {
      height: 100px !important;
      &-title {
        font-size: 15px !important;
        line-height: 10px !important;
      }
      &-number {
        font-size: 40px !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // iPad portrait
  .counter {
    &-card {
      height: 100px !important;
      &-title {
        font-size: 15px !important;
        line-height: 10px !important;
      }
      &-number {
        font-size: 40px !important;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  // iPhone landscape
  .counter {
    &-card {
      height: 80px !important;
      &-title {
        font-size: 10px !important;
        line-height: 10px !important;
      }
      &-number {
        font-size: 30px !important;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  // iPhone portrait
  .counter {
    &-card {
      height: 60px !important;
      &-title {
        font-size: 8px !important;
        line-height: 2px !important;
      }
      &-number {
        font-size: 20px !important;
      }
    }
  }
}
